.KindWords {
  --quote-mark-size: 4em;
  --image-size: 8rem;
  position: relative;
}

.KindWords figure {
  width: var(--image-size);
  float: left;
  margin-right: 1rem;
}
.KindWords figure img {
  width: var(--image-size);
  height: var(--image-size);
}

.KindWords p,
.KindWords figure {
  position: relative;
  z-index: 1;
}

.KindWords blockquote {
  position: relative;
}

.KindWords .KindWords-qm {
  --height: 8em;

  height: var(--quote-mark-size);

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
