.KindWords {
  --quote-mark-size: 4rem;
  --image-size: 6rem;
  position: relative;
  margin-bottom: 3rem;
}

.KindWords figure {
  width: var(--image-size);
  float: left;
  margin-right: 1rem;
}
.KindWords figure img {
  width: var(--image-size);
  height: var(--image-size);

  box-shadow: 0.1rem 0.1rem 0 white;
}

.KindWords p,
.KindWords figure {
  position: relative;
  z-index: 1;
}

.KindWords .KindWords-qm {
  height: var(--quote-mark-size);

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
