:root {
  --color-bg: #d0dfff;
  --color-text: #222;
  --color-hi: #fff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.color-hi {
  color: var(--color-hi);
}

a {
  color: #833;
}
