:root {
  --color-bg: hsl(221, 100%, 91%);
  --color-bg-dark: hsl(221, 100%, 87%);
  --color-text: #222;
  --color-hi: #fff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.color-hi {
  color: var(--color-hi);
}

.color-bg-dark {
  background-color: var(--color-bg-dark);
}

a {
  color: #833;
}
