:root {
  --color-bg: hsl(221, 100%, 91%);
  --color-bg-dark: hsl(221, 100%, 87%);
  --color-text: hsl(221, 80%, 20%);
  --color-hi: #fff;
  --color-link: hsl(221, 100%, 50%);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.color-hi {
  color: var(--color-hi);
}

.color-bg-dark {
  background-color: var(--color-bg-dark);
}

