:root {
  font-size: 18px;
  font-size: var(--fluid-unit);
}
h1 {
  font-size: var(--scale-6);
}
h2 {
  font-size: var(--scale-5);
}
h3 {
  font-size: var(--scale-4);
}
h4 {
  font-size: var(--scale-3);
}
h5 {
  font-size: var(--scale-2);
}
h6 {
  font-size: var(--scale-1);
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  padding-top: 2rem;
  line-height: 1.2em;
  font-family: 'Nerd Font Mono', 'Courier New', Courier, monospace;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

p, figcaption, dl {
  margin-bottom: 1rem;
  font-family: 'Hyperlegible';
}

pre {
  font-family: 'Nerd Font Mono', 'Courier New', Courier, monospace;
}

.uppercase {
  text-transform: uppercase;
}
h2.uppercase {
  font-size: var(--scale-4);
}
