
.u-flex {
  display: flex;
}

.u-flex-row {
  flex-direction: row;
}

.u-flex-column {
  flex-direction: column;
}

.u-flex-center {
  align-items: center;
}

.u-flex-no-shrink {
  flex-shrink: 0;
}

.u-mr-1 {
  margin-right: 1rem;
}

