


.myphoto {
  --width: min(30vw, 12rem);
  --height: 14rem;
  background-image: url('/static/images/me-duck.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: var(--width) min(calc(var(--height) + 4rem), 100%);
}

.myphoto-placeholder {
  height: var(--height); width: var(--width);
  margin: var(--spacing-vertical) var(--spacing-horizontal);
}

.speechbubble {
  padding: 1em;
  background-color: var(--color-hi);
  position: relative;
  z-index: 1;
  border-radius: 0.33rem;
  margin: 1rem 0;
}
.speechbubble::after {
  --size: 1em;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  z-index: 0;
}

.speechbubble.speechbubble--left {
  margin-right: 1rem;
}
.speechbubble.speechbubble--left::after {
  left: 100%;
  top: calc(5/9 * 100%);
  border-top: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
  border-left: var(--size) solid white;
  transform: skew(20deg) scaleX(1.5) translateY(-50%);
}
.speechbubble.speechbubble--below::after {
  bottom: 100%;
  left: calc(8/10 * 100%);
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid white;
  transform: skew(-20deg) scaleY(1.5) translateX(-50%);
}
