---
import Layout from '../layouts/Layout.astro';
import { getPortfolioHighlights } from '../utils/portfolio';
import PortfolioDetail from '../components/PortfolioDetail.astro';
const portfolio = await getPortfolioHighlights();
---

<Layout portfolio={portfolio} slug={portfolio[0].slug}>
  {portfolio.length > 0 ? (
    <PortfolioDetail item={portfolio[0]} />
  ) : (
    <p>No portfolio items found.</p>
  )}
</Layout>
