---
import Layout from '../layouts/Layout.astro';
import { getPortfolio } from '../utils/portfolio';
import PortfolioDetail from '../components/PortfolioDetail.astro';
const portfolio = await getPortfolio();
---

<Layout portfolio={portfolio}>
  {portfolio.length > 0 ? (
    <PortfolioDetail item={portfolio[0]} />
  ) : (
    <p>No portfolio items found.</p>
  )}
</Layout>
