
.NavBar-placeholder {
  height: 4rem;
  width: 100%;
}

.NavBar {
  --toggle-width: min(2.5rem, var(--spacing-horizontal));
  --toggle-height: calc(var(--toggle-width) * 0.75);
  --padding-v: 1rem;
  --height: calc(var(--toggle-height) + var(--padding-v) * 2);
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: var(--height);
  padding-right: 1rem;
  transition: background-color 0.5s;
}

.NavBar.NavBar--closed {
  background-color: transparent;
}

.NavBar.NavBar--open {
  background-color: var(--color-bg);
}

.NavBar .NavBar-slider--h {
  transition: transform 0.5s;
  transform-origin: center right;
}
.NavBar.NavBar--closed .NavBar-slider--h {
  transform: scale(0, 100%);
}
.NavBar.NavBar--open .NavBar-slider--h {
  transform: scale(100%, 100%);
}
.NavBar .NavBar-slider--v {
  transition: transform 0.5s;
}

.NavBar .NavBar-inner {
  width: calc(var(--page-width) + var(--toggle-width) * 4);
  max-width: 100%;
  padding: var(--padding-v) 0;
  margin: 0 auto;
  font-size: var(--scale-3);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  opacity: 0.66;
}
.NavBar .NavBar-inner:hover {
  opacity: 1;
}

.NavBar .NavBar-list {
  padding: 0 calc(1rem + var(--toggle-width) / 2) 0;
  display: flex;
}

.NavBar .NavBar-item {
  display: inline-block;
  padding-left: 1em;
}

.NavToggle {
  width: var(--toggle-width);
  height: var(--toggle-height);
  cursor: pointer;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}


.NavToggle .NavToggle-line1,
.NavToggle .NavToggle-line2,
.NavToggle .NavToggle-line3 {
  transition: transform 0.2s;
  border-top: 0.15rem solid var(--color-text);
  transform-origin: center right;
}

.NavBar.NavBar--open .NavToggle .NavToggle-line1 {
  transform: rotate(-45deg);
}
.NavBar.NavBar--open .NavToggle .NavToggle-line2 {
  transform: scaleX(0);
}
.NavBar.NavBar--open .NavToggle .NavToggle-line3 {
  transform: rotate(45deg);
}

@media(max-width: 1050px) {
  .NavBar {
    --toggle-width: 4rem;
    font-size: var(--scale-4);
  }
  .NavBar.NavBar--open {
    width: calc(100vw - 1rem);
    height: 100vh;
  }
  .NavBar .NavBar-inner,
  .NavBar .NavBar-list,
  .NavBar .NavBar-slider--h,
  .NavBar .NavBar-slider--v,
  .NavBar .NavBar-list {
    width: 100%;
    height: 100%;
  }
  .NavBar .NavBar-inner {
    align-items: start;
  }
  .NavBar .NavBar-list {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .NavBar.NavBar--closed .NavBar-slider--h {
    transform: none;
  }
  .NavBar.NavBar--open .NavBar-slider--h {
    transform: none;
  }
  .NavBar.NavBar--closed .NavBar-slider--v {
    transform: translateY(-101%);
    height: 100vw;
  }
  .NavBar.NavBar--open .NavBar-slider--h {
    transform: translateY(0);
  }
}
