/* Thanks to https://bholmes.dev/blog/building-a-sexy-mobile-ready-navbar-in-any-web-framework/ for the inspiration. */
.NavBar-placeholder {
  height: 4rem;
  width: 100%;
}

.NavBar {
  --toggle-width: min(2.5rem, var(--spacing-horizontal));
  --toggle-height: calc(var(--toggle-width) * 0.79);
  --padding-v: 0.5rem;
  --height: 4rem;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: var(--height);
  padding-right: 1rem;
  transition: background-color 0.5s, opacity 0.5s;
  opacity: 0.66;

  display: none;
  align-items: center;
  justify-content: center;
}
.NavBar:hover {
  opacity: 1;
}

.NavBar.NavBar--mounted {
  display: flex;
}

.NavBar.NavBar--closed {
  background-color: transparent;
}

.NavBar.NavBar--open {
  background-color: var(--color-bg);
}

.NavBar .NavBar-slider--h {
  transition: transform 0.5s;
  transform-origin: center right;
}
.NavBar.NavBar--closed .NavBar-slider--h {
  transform: scale(0, 100%);
}
.NavBar.NavBar--open .NavBar-slider--h {
  transform: scale(100%, 100%);
}
.NavBar .NavBar-slider--v {
  transition: transform 0.5s;
}

.NavBar .NavBar-inner {
  width: calc(var(--page-width) + var(--toggle-width) * 4);
  max-width: 100%;
  padding: var(--padding-v) 0;
  margin: 0 auto;
  font-size: var(--scale-3);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.NavBar .NavBar-list {
  padding: 0 calc(1rem + var(--toggle-width) / 2) 0;
  display: flex;
}

.NavBar .NavBar-item {
  display: inline-block;
  padding-left: 1em;
}

.NavToggle {
  background-color: var(--color-bg);
  width: var(--toggle-width);
  height: var(--toggle-width);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavToggle--inner {
  width: calc(0.8 * var(--toggle-width));
  height: calc(0.8 * var(--toggle-height));

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}


.NavToggle .NavToggle-line1,
.NavToggle .NavToggle-line2,
.NavToggle .NavToggle-line3 {
  transition: transform 0.2s;
  border-top: calc(var(--toggle-width) / 12) solid var(--color-text);
  transform-origin: center right;
}

.NavBar.NavBar--open .NavToggle .NavToggle-line1 {
  transform: rotate(-45deg);
}
.NavBar.NavBar--open .NavToggle .NavToggle-line2 {
  transform: scaleX(0);
}
.NavBar.NavBar--open .NavToggle .NavToggle-line3 {
  transform: rotate(45deg);
}

@media(max-width: 1050px) {
  .NavBar {
    --height: 6rem;
    --toggle-width: 5rem;
    font-size: var(--scale-5);
    opacity: 1;
  }

  .NavBar.NavBar--open,
  .NavBar.NavBar--closing {
    height: 100vh;
    height: -webkit-fill-available;
  }
  .NavBar .NavBar-inner,
  .NavBar .NavBar-slider--h,
  .NavBar .NavBar-list {
    width: 100%;
    height: 100%;
  }
  .NavBar .NavBar-list {
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
  }
  .NavBar.NavBar--closed .NavBar-slider--h {
    transform: none;
  }
  .NavBar.NavBar--open .NavBar-slider--h {
    transform: none;
  }
  .NavBar .NavBar-slider--v {
    transform: translateY(-100vh);
    height: 100vh;
    height: -webkit-fill-available;
  }
  .NavBar.NavBar--open .NavBar-slider--v {
    transform: translateY(0);
  }
  .NavBar .NavBar-list {
    padding: 0;
  }
  .NavToggle {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
  }
}
