<nav class="NavBar" id="NavBar">
  <div class="NavBar-inner">
    <div class="NavBar-slider--v">
      <div class="NavBar-slider--h">
        <ul class="NavBar-list">
          <li class="NavBar-item NavBar-mobileSpacer">&nbsp;</li>
          <!-- #map links link -->
          <li class="NavBar-item font-family-mono">${link.html}</li>
          <!-- /map links link -->
        </ul>
      </div>
    </div>
    <div class="NavToggle" role="button">
      <div class="NavToggle--padding">
        <div class="NavToggle--inner">
          <div class="NavToggle-line1"></div>
          <div class="NavToggle-line2"></div>
          <div class="NavToggle-line3"></div>
        </div>
      </div>
    </div>
  </div>
</nav>
