
---
export interface Props {
  href: string;
  [key: string]: any;
}
const { href, ...props } = Astro.props as Props;
---
<a href={href} class="ImageLink" {...props}></a>

<style>
  .ImageLink {
    display: block;
    width: var(--width);
    height: var(--width);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
