
/* Prevent images from overflowing, but also preserve their aspect ratio */
article img {
  max-width: 100% !important;
  height: auto !important;
}

:root {
  --blue: #0070f3;
  --gray: #333;
  --light-gray: #f7f7f7;
  --medium-gray: #ddd;
}

@font-face {
  font-family: "SomeTimeLater";
  src:
    url("/fonts/SomeTimeLater.ttf") format("truetype"),
    url("/fonts/SomeTimeLater.woff2") format("woff2"),
    url("/fonts/SomeTimeLater.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  height: fit-content;
}

body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

body {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; 
  color: var(--gray);
}

h1, .h1, h2, h3, h4, h5, h6 {
  --scale-x: 1.33;
  font-family: 'SomeTimeLater', sans-serif;
  transform: scaleX(var(--scale-x));
  transform-origin: left;
  width: calc(100%/var(--scale-x));
  display: block;
}

.h1 {
  font-size: 2rem;
}

a {
  color: var(--blue);
  text-decoration: none;
}

