
/* Prevent images from overflowing, but also preserve their aspect ratio */
article img {
  max-width: 100%;
  height: auto;

  margin: 0 auto;
  display: block;
}

:root {
  --blue: #0070f3;
  --gray: #333;
  --light-gray: #f7f7f7;
  --medium-gray: #ddd;

  --font-serif: 'Charter', 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-peralta: 'Peralta', var(--font-serif);
}

::selection {
  background: var(--blue);
  color: white;
}

@font-face {
  font-family: "Peralta";
  src:
    url("/fonts/Peralta-Regular.ttf") format("truetype"),
    url("/fonts/Peralta-Regular.woff2") format("woff2"),
    url("/fonts/Peralta-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  height: fit-content;
}

body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

body {
  font-family: var(--font-serif);
  color: var(--gray);
}

h1, .h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-peralta);
  display: block;
}

.noTextWrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.h1 {
  font-size: 2rem;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.Button {
  background-color: var(--blue);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
}
