---
import Sidebar from '../components/Sidebar.astro';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
	<body style="margin: 0; padding: 0;">
  <div style="display: flex; min-height: 100vh;">
    {Astro.props.portfolio && (
      <Sidebar portfolio={Astro.props.portfolio} />
    )}
    <main style="flex: 1; padding: 2rem;">
      <slot />
    </main>
  </div>
</body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
