---
import Layout from '../../layouts/Layout.astro';
import { getPortfolioHighlights, getPortfolio } from '../../utils/portfolio';
import { getAssociativeCollection } from '../../utils/collection';
import PortfolioDetail from '../../components/PortfolioDetail.astro';
import { Astro } from 'astro';

const { slug } = Astro.params;
const portfolio = await getPortfolioHighlights();
const item = Astro.props;

export async function getStaticPaths() {
  const arr = await getPortfolio();
  const associative = await getAssociativeCollection(arr);
  const result = arr.map((item) => ({
    params: { slug: item.slug },
    props: associative[item.id],
  }));
  return result;
}
---

<Layout portfolio={portfolio}>
  {item ? (
    <PortfolioDetail item={item} />
  ) : (
    <p>Portfolio item not found.</p>
  )}
</Layout>
